<div id="about">
    <div ng-include="'<%= asset_path('client/templates/nav.html') %>'"></div>
    <div class="about-content">
      <div class="image-left">
        <%= image_tag('about.jpg') %>
      </div>
      <div class="text-right" ng-bind-html="body"></div>
    </div>
    <div class="clear"></div>
</div>
