<div id="about">
    <div ng-include="'<%= asset_path('client/templates/nav.html') %>'"></div>
    <div class="about-content">
      <div class="image-left">
        <%= image_tag('about.jpg') %>
      </div>
      <div class="text-right">
          <p>
              Combray Gallery borrowed it's name from Marcel Proust's magnum opus "In Search of Lost Time" (A La Recherche du Temps Perdu).
          </p>
          <p>
              Prior to launching Combray Gallery in 2013, Zoran Popovic was engaged in the Manhattan antiques market for over 15 years, most recently as a gallery manager of Ritter Antik. In 2011, he founded Popovic Appraisal & Consulting, full service antiques and art appraisal firm [see <a href="#/services">SERVICES</a> page].
          </p>
          <p>
              We deal in European continental antique furniture and decorative arts and 20th Century design with concentration on Swedish Karl Johan, Jugendstil, Grace and Modernism; Austrian & German Biedermeier and French Art Deco/Moderne periods. We also offer other various period pieces selected on their merit, uniqueness and functionality. The fine art collection consists of hand selected contemporary works as well as traditional decorative landscapes and still lives.
          </p>
          <p>
              Our large storage with not yet restored inventory is located in the close vicinity of the showroom. Please feel free to inquire about availability of items you may not see on the web site or in the gallery.
          </p>
          <p>
              All of the stock is sourced and purchased in Europe and restored in the U.S. with our complete and detailed oversight of restoration process. Please visit the SERVICES page for more info on restoration.
          </p>
          <p>
              Combray Gallery guarantees for each item sold and we are more than happy to address any inquiries you may have. 
          </p>
      </div>
    </div>
</div>
