<div id="contact">
    <div ng-include="'<%= asset_path('client/templates/nav.html') %>'"></div>
    <div class="contact-text" ng-bind-html="content.body">
        <div class="clear"></div>
    </div>
</div>
