<div id="current-stock">
    <div class="navigation">
        <ul class="categories">
            <li ng-repeat="category in categories">
                <a href="" ng-click="onCategoryClick(category)">{{category.name}}</a>
                <ul class="subcategories" ng-show="category.open" ng-if="category.subcategories.length">
                    <li ng-repeat="subcategory in category.subcategories"><a href="" ng-click="onCategoryClick(category, subcategory)">{{subcategory.name}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="grid">
        <img ng-hide="items.length" src="assets/current-stock.jpg" />
        <div ng-show="items.length">
            <div class="cell"><a href="#"><img src="assets/newsquare1.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare2.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare3.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare4.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare5.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare6.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare7.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare8.jpg" border="0" /></a></div>
            <div class="cell"><a href="#"><img src="assets/newsquare9.jpg" border="0" /></a></div>
        </div>
    </div>
</div>
