<div id="current-stock-item">
    <div ng-include="'<%= asset_path('client/templates/nav.html') %>'"></div>
    <div class="current-stock-item-content">
      <div class="product">
          <div id="rightcolumn">
              <div class="main-image">
                <img photo-box="current" ng-src="{{current.main_show.url}}" border="0" />
                <span us-spinner="{radius:20, width:8, length: 1}" spinner-key="item-spinner"></span>
              </div>
          </div>
      </div>
  
      <div class="description">
          <h1 ng-bind="item.name | Titleize"></h1>
          <div ng-if="!item.sold"><p>Ref #: </p><p ng-bind="item.code"></p></div>
          <div ng-if="item.sold"><p class="status">SOLD</p></div>
          <div><p ng-bind="item.description"></p></div>
          <div class="description-age"><p>Age: </p><p ng-bind="item.age"></p></div>
          <div class="description-origin"><p>Origin: </p><p ng-bind="item.origin | Titleize"></p></div>
          <div class="description-measurements"><p>Measurements: </p><p ng-bind="item.measurements"></p></div>
  
          <p class="share-options"><a href="mailto:contact@combraygallery.com">Enquiry</a> | <a ng-href="/print/{{item.id}}">Print</a> |
            <!-- AddThis Button BEGIN PRODUCT PAGE ONLY-->
            <div class="addthis_toolbox addthis_default_style" style="position:relative; top:-19px; left:110px;">
              <a class="addthis_button_facebook"></a>
              <a class="addthis_button_twitter"></a>
              <a class="addthis_button_linkedin"></a>
              <a class="addthis_button_pinterest"></a>
              <a class="addthis_button_tumblr"></a>
              <a class="addthis_button_email"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <!-- AddThis Button END -->
          </p>
  
          <div class="thumbs">
              <a href="" ng-repeat="thumb in item.photos"><img ng-click="onThumbClick(thumb)" ng-src="{{thumb.photo.thumb_show.url}}" border="0" /></a>
          </div>
      </div>
    <div class="clear"></div>
    </div>
</div>
<footer class="print-footer">
    <%= image_tag('print_footer.png') %>
</footer>

<script id="crappy-add-this-tag" type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5351d7ab506e0f95"></script>
<script type="text/javascript">
  var addthis_config = {"data_track_addressbar":true};
</script>
