<div id="current-stock-item">
    <div class="product">
        <div id="rightcolumn">
            <div class="main-image" style="border:1px solid black;">
                <a href="">
                    <img ng-src="{{item.photos[0].photo.main_show.url}}" border="0" />
                </a>
            </div>
        </div>
    </div>

    <div class="description">
        <h1 ng-bind="item.name"></h1>
        <p>Ref #: {{item.code}}</p>
        <p ng-bind="item.description"></p>
        <p>Age: {{item.age}}</p>
        <p>Origin: {{item.origin}}</p>
        <p>Measurements: {{item.measurements}}</p>

        <p><a href="mailto:contact@combraygallery.com">Enquiry</a> | <a href="#">Print</a> | <a href="mailto:">Share</a></p>

        <div class="thumbs">
            <a href="" ng-repeat="thumb in item.photos"><img ng-click="onThumbClick(thumb)" ng-src="{{thumb.photo.thumb_show.url}}" border="0" /></a>
        </div>
    </div>
</div>
