<div id="home">
  <div class="footer" style="display:none">
      <div class="copyright">
          <span>&copy; 2014 Combray Gallery. All rights reserved.</span>
      </div>
      <div class="share">
          <span>
              <a href="http://facebook.com"><%= image_tag('share/facebook.png') %></a>
              <a href="http://twitter.com"><%= image_tag('share/twitter.png') %></a>
              <a href="http://linkedin.com"><%= image_tag('share/linkedin.png') %></a>
              <a href="http://pinterest.com"><%= image_tag('share/pinterest.png') %></a>
          </span>
      </div>
      <div class="clear"></div>
  </div>
</div>
