<div id="home">
    <div class="footer">
        <div class="copyright">
            <span>&copy; 2014 Combray Gallery. All rights reserved.</span>
        </div>
        <div class="share">
            <span>
            <a href="http://facebook.com"><img src="images/share/facebook.png" border="0" /></a>
            <a href="http://twitter.com"><img src="images/share/twitter.png" border="0" /></a>
            <a href="http://linkedin.com"><img src="images/share/linkedin.png" border="0" /></a>
            <a href="http://pinterest.com"><img src="images/share/pinterest.png" border="0" /></a>
            </span>
        </div>
    </div>
</div>
