<div class="header">
  <div class="logo">
    <a href="#/"><%= image_tag('logo.png') %></a>
  </div>
  <div class="print-logo">
    <%= image_tag('print_letterhead.png') %>
  </div>
  <div class="nav">
    <a href="" ng-click="app.onClickCurrentStock()">CURRENT STOCK</a>
    <a href="#/about">ABOUT</a>
    <a href="#/services">SERVICES</a>
    <a href="#/contact">CONTACT</a>
    <a href="" ng-hide="app.showSearch" ng-click="app.onSearchClick()">SEARCH</a>
    <input type="text" class="search-bar" ng-show="app.showSearch" ng-keydown="app.onSearch($event, model.query)" ng-blur="app.onBlurEvent()" placeholder="Search..." ng-model="model.query">
  </div>
</div>
