<div id="services">
    <div class="services">
        <h1>RESTORATION</h1>
    </div>

    <p style="position:relative; left:15px;">
        All Combray Gallery furniture is restored prior to being offered for sale. Combray Gallery restorers are experienced experts who adhere to the highest standards of the craft and are capable of undertaking the most complex projects. Restoration is executed in New York City and upstate NY workshops with our close oversight of the process.
    </p>

    <p style="position:relative; left:15px;">
        Our restorers possess expertise in oil and water gilding, silver leafing, ebonizing, inlay work, stone and marble restoration, porcelain and ceramic conservation etc. Feel free to contact us to discuss restoration/conservation needs for your personal items. Depending on the schedule, we will be happy to extend this service when possible.
    </p>

    <br />

    <center><%= image_tag('chest-captions.jpg') %></center>

    <br />

    <div class="services">
        <h1>FINE AND DECORATIVE ART APPRAISALS</h1>
    </div>

    <p style="position:relative; left:15px;">
        Combray Gallery founder Zoran Popovic is a USPAP (Uniform Standards of Professional Appraisal Practice) qualified appraiser. Please visit the <a href="popovicappraisal.com"><u>Popovic Appraisal & Consulting website</u></a> for information on appraisal reports for following purposes: insurance, IRS, charitable donations, estate planning, asset allocation, damage/loss et al.
    </p>
</div>
