<div id="services">
    <div ng-include="'<%= asset_path('client/templates/nav.html') %>'"></div>
    <div class="services-content">
      <div class="services-one">
          <h1 ng-bind-html="content.titleTop"></h1>
      </div>
  
      <p class="services-content-body-top" ng-bind-html="content.bodyTop"></p>

      <br />
  
      <center class="services-main"><%= image_tag('chest-captions.jpg') %></center>
  
      <br />
  
      <div class="services-two">
          <h1 ng-bind-html="content.titleBottom"></h1>
      </div>
  
      <p style="position:relative; left:15px;" ng-bind-html="content.bodyBottom"></p>
    </div>
</div>
