
<div id="items" class="row-fluid">

  <div class="sidebar span2">
    <%= render 'categories/categories_list' %>
  </div>

  <div class="main span10">
    <% if params[:id] %>
      <%= render 'items/items_list' %>
    <% else %>
      <%= image_tag('http://placehold.it/800x600') %>
    <% end %>
  </div>

</div>
