<div id="about" class="row-fluid">
  <div class="span4 offset2">
    <h1>About</h1>
  
    <p>
      Prior to launching Combray Gallery in 2013, Zoran Popovic spent 15 years in the Manhattan antiques market. 
      Former gallery manager of Ritter Antik, Zoran is a USPAP qualified appraiser and a founder of Popovic Appraisal & Consulting, 
      a full service appraisal and collection management firm. 
    </p>
  </div>
  
  <div class="span4">
      <%= image_tag('http://popovicappraisal.com/wp-content/uploads/2012/08/zoran.jpg') %>
  </div>
</div>

