<div id="about" class="row-fluid">
  <div class="span4 offset2 text">
    <h1><%= @page.title.titleize %></h1>
  
    <p><%= @page.text %> </p>
  </div>
  
  <div class="span4">
      <%= image_tag('http://popovicappraisal.com/wp-content/uploads/2012/08/zoran.jpg') %>
  </div>
</div>

