<div id="contact" class="row-fluid">

  <div class="span4 offset2 text">
    <h1>Contact Us</h1>

    <p>
      307 Warren St.<br>
      Hudson, N.Y. 12534<br>
      (518) 828-2880<br>
      <%= link_to 'View Map', '#' %>
    </p>

    <%= mail_to 'contact@combraygallery.com' %>

    <br>
    <br>
    
    <p>Listed Hours here...</p>
    <p>M-F ...</p>
  </div>

  <div class="span4 contact-image"></div>

</div>
