<div class="pages-home row">
  <div class="span12 main-image">
    <div class="row body-text">
      <div class="span6">
        <h1><%= @text %></h1>
      </div>
      <div class="span5">
        <%= image_tag("logo.png") %>
      </div>
    </div>
  </div>
</div>
