
<div id="home" class="row">
  <div class="span12 main-image">
    <div class="row body-text">
      <div class="span5">
        <h3>
          Combray Gallery offers authentic European continental furniture and 
          decorative arts from 18th through 20th Century, with a special focus on 
          Sweden, Austria, Germany and France. 
        </h3>
      </div>
    </div>
  </div>
</div>


<!--
        <p>
          We are pleased to offer fine European antique and 20th Century furniture,
          decorative arts and lighting, with a special focus on Scandinavia and Austria/Germany.
          Swedish 19th & 20th Century and Austrian/German Biedermeier period represent the nucleus
          of our collection. We also offer international modern and contemporary fine art. 
        </p>    
      -->
