
<ul>
<% @items.each do |item| %>
  <li class="item">
    <%= link_to image_tag('http://placehold.it/300x300'), item %>
    <section class="item-blurb">
      <p>
        <%= item.name %>
        <br />
        <%= item.description %>
      </p>
    </section>
  </li>
<% end %>
  <p>
    Showing <%= @items.count %> items
  </p>
</ul> 

