<section class="content-inner">
  <div class="row-fluid">
    <div class="span12">
      <ul class="thumbnails">
      <% @items.each do |item| %>
        <li >
          <div class="item thumbnail">
            <%= link_to(item) do %>
              <% if item.photos.empty? %>
                <%= image_tag('http://placehold.it/260x260') %>
              <% else %>
                <%= image_tag(item.photos.first.photo.thumb.url) %>
              <% end %>
            <% end %>
    
          </div>
        </li>
      <% end %>
      </ul> 
    </div>
  </div>
  <div class="row-fluid">
    <p class="span4"><span><a href="#">Previous</a> | <a href="#">Next</a></span></p>
    <p class="pull-right">Displaying <%= @items.length %> item(s)</p>
  </div>
</section>

