<section class="content-inner">
  <ul class="thumbnails">
  <% @items.each do |item| %>
    <li >
      <div class="item thumbnail">
        <% if item.photos.empty? %>
          <%= image_tag('http://placehold.it/200x200') %>
        <% else %>
          <%= image_tag(item.photos.first.photo.thumb.url) %>
        <% end %>

        <%= link_to(item) do %>
          <div class="item-blurb">
            <p>
              <%= item.name %>
            </p>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
  <div style="clear:both"></div>
  </ul> 
</section>

