@import "variables.css.scss";
@import "mixins.css.scss";

.item {
    position: relative;
}

.items-show {

    .carousel-control {
        line-height: 37px
    }

    .carousel-control.right {
        right: 35px;
    }

    .carousel-indicators {
        top: 10px;
        right: 10px;
    }

    .images {
        padding-left: 20px;
    }

    .thumbs {
        img {
            padding-right: 20px;
            padding-bottom: 20px;
        }
    }

    .detail {
        padding-right: 20px;

        .item-title {
            font-weight: bold;
            text-transform: uppercase;
            line-height: 22px;
        }
    }

}

.thumbnails {
    li {
        margin-left: 0px;
        margin-right: 15px;
        margin-bottom: 15px;
        padding-top: 0px;

        .thumbnail {
            padding: 0;
            border: 1px solid rgb(131, 131, 131);
        } 

        img {
            width: 200px;
            border-radius: 3px;
        }

        img:hover {
            @include image-hover
        }
    }
}


.items-show.print {
    background-color: white;

    .header {
        text-align: center;
        a {
            font-size: 0.7em;
            display: block;
        }

        a.address {
            padding-top: 10px;
            color: rgb(148, 147, 147);
        }

    }

    .detail {
        padding-top: 10px;
        color: rgb(60, 60, 60);
    }
}
