$color-red: rgb(176, 39, 51);

.items-show {

    .carousel-control {
        line-height: 37px
    }

    .carousel-control.right {
        right: 35px;
    }

    .carousel-indicators {
        top: 10px;
        right: 10px;
    }

    .images {
        padding-left: 20px;
    }
    
    .thumbs {
        img {
            padding-right: 20px;
            padding-bottom: 20px;
        }
    }

    .description {
        padding-right: 20px;
        label {
            display: inline;
        }
    }
}

.thumbnails {
    li {
        margin-left: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding-top: 0px;
        .thumbnail {
            padding: 0;
            border: 1px solid rgb(131, 131, 131);

        } 
        img {
            border-radius: 3px;
        }
    }
}


.items-show.print {
    background-color: white;
    //width: 700px;

    .header {
        text-align: center;
        a {
            font-size: 0.7em;
            display: block;
        }

        a.address {
            padding-top: 10px;
            color: rgb(148, 147, 147);
        }

    }

    .photo-row {
        //padding-top: 20px;
    }

    .description {
        padding-top: 10px;
        color: rgb(60, 60, 60);
    }
}
