@charset "utf-8";
/* CSS Document */

@media print {

    /*page properties*/
    body {
        margin:0;
        padding:0;
        background-color:#ffffff;
        color:#000000;
        font-family: 'Muli', sans-serif;
    }

    /*container containing all the content on the page*/
    .container {
        position:relative;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    /*logo image at the top of the page*/
    .header {
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    /*product image*/
    .product {
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
        
    /*description title, reference number, and details*/
    .description {
        position:relative;
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }

    /*footer image at the bottom of the page*/
    .footer {
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
}
