@charset "utf-8";

@media print {

    /*page properties*/
    body {
        margin:0;
        padding:0;
        background-color:#ffffff;
        color:#000000;
        font-family: 'Muli', sans-serif;
    }

    h1 {
        font-size: 16px;
        font-weight: normal;
    }

    p {
        font-size: 14px;
    }

    /*container containing all the content on the page*/
    .container {
        position:relative;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    /*logo image at the top of the page*/
    .header {
        position:relative;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
    }

    .logo {
        display: none;
    }

    .print-logo img {
        width: 95%;
    }

    .nav {
        display: none;
    }

    .thumbs {
        display: none;
    }

    .addthis_toolbox {
        display: none;
    }

    /*product image*/
    .product {
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    .product .main-image {
        border: none;
    }

    .product .main-image img {
        width: 100%;
    }
        
    /*description title, reference number, and details*/
    .description {
        position:relative;
        width:75%;
        margin-left:auto;
        margin-right:auto;

    }

    .description h1 {
        margin-bottom: 5px;
    }

    .description div {
        margin-bottom: 5px;
    }

    .description p {
        display: inline;
    }

    .description .share-options {
        display: none;
    }

    .print-footer {
        position: fixed;
        bottom: 0;
        width: 50%;
        margin-left:auto;
        margin-right:auto;
    }

    .print-footer img {
        width: 500px;
        margin-left: 110px;
        /*text-align: center;*/
    }

}
