@charset "utf-8";

@media print {

    /*page properties*/
    body {
        margin:0;
        padding:0;
        background-color:#ffffff;
        color:#000000;
        font-family: 'Muli', sans-serif;
    }

    /*container containing all the content on the page*/
    .container {
        position:relative;
        width:100%;
        margin-left:auto;
        margin-right:auto;
    }

    /*logo image at the top of the page*/
    .header {
        margin-top: 25px;
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    .logo {
        display: none;
    }

    .print-logo {
        position:relative; 
        left:15px; 
        top:15px; 
        display:inline;
    }

    .print-logo img {
        width: 95%;
    }

    .nav {
        display: none;
    }

    .thumbs {
        display: none;
    }

    /*product image*/
    .product {
        margin-top: 45px;
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }

    .product .main-image {
        border: none;
    }
        
    /*description title, reference number, and details*/
    .description {
        text-align: center;
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
        p {
            display: inline;
        }

        .share-options {
            display: none;
        }
    }

    /*footer image at the bottom of the page*/
    .footer {
        position:relative;
        width:50%;
        margin-left:auto;
        margin-right:auto;
    }
}
