#services {
    line-height: 21px;
    background-image: url(asset_path('background_images/services.jpg'));
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;

    .text {
        padding: 20px;
        height: 100%;
        overflow-y: scroll;
        background: white;
        opacity: 0.8;
    }
}

