<!DOCTYPE html>
<html ng-app="Combray">
  <head>
    <title>Combray Gallery</title>
    <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-controller="AppCtrl">
    <div class="header">
      <div style="position:relative; left:15px; top:15px; display:inline;">
        <a href="#/"><%= image_tag('logo.png') %></a>
      </div>
      <div class="nav" style="position:relative; top:-15px; display:inline;">
        <a href="#/current-stock">CURRENT STOCK</a>
        <a href="#/about">ABOUT</a>
        <a href="#/services">SERVICES</a>
        <a href="#/contact">CONTACT</a>
        <a href="#/search" ng-hide="isSearch">SEARCH</a>
        <input type="text" placeholder="Search..." ng-model="query" ng-show="isSearch">
      </div>
    </div>
    <div class="main">
      <div style="height: 100%;" class="app" ng-view></div>
    </div>
  <script id="crappy-add-this-tag" type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5351d7ab506e0f95"></script>
  </body>
</html>
